.buttonHolder {
    width: 100%;
    margin-top: 1rem;

    button {
        width: 100%;
        background-color: #2901ED;
        border: 1px solid #3DB8FF;
        box-shadow: 0 0 8 #1DABFF40;

        padding: 0.75rem;
        border-radius: 6px;

        color: white;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;

        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #4726e8;
        }

        &:active {
            transform: scale(0.95);
        }
    }
}