.navbar {
    width: 100%;
    padding: 10px 16px 10px 4px;

    border-bottom: 1px solid #242545;
    background-color: #12101C;

    display: flex;
    align-items: center;
    place-content: space-between;

    svg {
        width: 24px;
        height: 24px;
        color: white;
        cursor: pointer;
    }

    .balance {
        margin-left: auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 8px;

        span {
            color: #82829C;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
        }

        p {
            color: white;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
        }
    }
}